/*-------------VARIABLES GENERALES---------------*/
:root{
    --bs-border-width: 1px;
    --bs-border-radius: 0.375rem;
    --bs-border-color: #dee2e6;
    --bs-footer-color: #104172;
}

/*-------------------GENERALES-------------------*/
body{
    margin: 0%;
}
header {
    background: var(--bs-border-color); 
}

.item-nav,.buttom {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

footer {
    padding: 10px;
    background-color: var(--bs-footer-color);
}
footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    
}

footer div a i {
    color: rgb(255, 255, 255);
    margin-left: 2px;
    margin-right: 2px;
}
footer div {
    display: flex;
    justify-content: center;

}
a:hover {
    color: #0a58ca;
}
/*-------------------------------------------*/
/* ----------------PAGINA CONTACTOS ----------------*/
/*-------------------------------------------*/
.fila{
    margin-top: 5px;
}
.subTitleContactenos{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 2px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: calc(1.275rem + .3vw);
    text-align: start;
   
}

.titleContactenos{
    text-align: center;
    font-size: calc(1.3rem + .6vw);
}

.textinp{
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.icon-menu{
    padding: 5px;
    border: 2px solid;
    border-radius: 2px;

}




/*-------------------------------------------*/
.carousel {
    position: relative;
    width: 100%;
    height: 375px; 
    overflow: hidden;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-caption1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 5vw;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    
  }
  .carousel-caption2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

/*-------------ESTRUCTURA GRID---------------*/
/*-------------------------------------------*/

.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        'navbar-area'
        'content-area'
        'footer-area';
}
/*---------Barra de navegacion---------*/
.navbar-area {
    grid-area: navbar-area;
    width: 100%;

}
/*---------Barra de navegacion para PC---------*/
.navbar{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.logo{
    width: 80px;
    height:80px;
}
.content-area{
    margin: 0 auto;
    max-width: 800px;
}

/*---------Barra de navegacion movile---------*/
.nav-movile{
    display: none;

}
.icon-menu{
    display: none;
}
.icon-menu:hover{
    color: #CCCCCC;
}

.nav-movile-popup{
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: fixed;
    z-index: 1;
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.nav-movile-popup.activado{
transform: translateX(0); 
}

.nav-movile-izq{
    background-color: #ffffff;
    height: 100%;
    width: 70%;
    opacity: 1.0;
    display: flex;
    flex-direction: column  ;
}
.nav-movile-der{
    background-color: #9a9a9ba5;
    height: 100%;
    width: 30%;
    opacity: 0.5;
}
.item-nav-movile{
    color: #000000;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d1d0;
}
#faxx2{
    position:absolute;
    top: 10px;
    right: 10px;
}


/* ----------------PAGINA INDEX ----------------*/

.container-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}
.container-index2 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.item {
    margin-bottom: 1.33em;
    margin-top: 1.33em;
    border: 2pt solid #d06712;
    padding: 1em;
    margin: 1em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.523);
}
.item2 {
    margin-bottom: 1.33em;
    margin-top: 1.33em;
    border: 2pt solid #CCCCCC;
    padding: 1em;
    margin: 1em;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
}



.cabezal {
    width: 100%;
    height: 5em;
    padding-top: 3.5em;
    vertical-align: middle;
}

.cabezal p {
    vertical-align: middle;
    font-size: 3vw;
}

.intro {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5vw;
    padding-top: 3.5em;
    vertical-align: middle;
}

.intro p {
    vertical-align: middle;
    font-size: 2vw;
    line-height: 3vw;
    hyphens: none;
}

.info {
    width: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    vertical-align: middle;

}

.ConoceMas{
    text-align: right;
    display: block;
    margin-top: 5px;
    color:#474747;
    font-size: 1.5vw;
}


/*----------- PUNTOS DE CORTE -----------*/
/* Extra small devices (Dispositivos moviles) */

@media only screen and (max-width: 600px) {
    .container-index, .container-index2 {

        flex-direction: column;
    }
    .nav-pc{
        display: none;
    }
    .nav-movile{
        display:block;
    }
    .container-index2 {
 
        flex-direction: column;
    }
    .nav-movile-popup{
        display: block; 
    }
}

/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
    .container-index, .container-index2 {
        flex-direction: column;

    }
    .nav-movile-popup{
        display: block; 
    }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    .container-index, .container-index2 {
        flex-direction: row;
 
    }
    .item2 {
        width: 20%;
    }
    .item {
        width: 40%;
    }
    .nav-movile-popup{
        display: block; 
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    .container-index, .container-index2 {
    
        flex-direction: row;
    }
    .item2 {
        width: 20%;
    }
    .item, item2 {
        width: 40%;
    }
    .nav-movile-popup{
        display: none; 
    }
}

/* Extralarge devices (1200pz and up) */
@media only screen and (min-width: 1200px) {
    .container-index, .container-index2 {
      
        flex-direction: row;
    }
    .item2 {
        width: 20%;
    }
    .item {
        width: 40%;
    }
    .nav-movile-popup{
        display: none; 
    }
}


/* Imágenes */

.image-interior img {
    display: flex;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Aminación */
@keyframes cambiarColor {
    0% {
        background: #f8a375;
    }

    /* Primer fotograma */
    30% {
        background: #ff8243;
    }

    /* Segundo fotograma */
    100% {
        background: #ffd792;
    }

    /* Último fotograma */

}

.cambiarColor {
    width:  100%;
    height: 100%;
    background-color: #ffd792;
    animation-name: cambiarColor;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* animation: cambiarColor 2s 1s; */
}




/* Estilos de texto */

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/
i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.noindent {
    text-align: center;
    text-indent: 0;
}

.b1 {
    margin-top: 3vw;
}

.marco {
    width: 96%;
padding: 2vW;
}

.item-nav{
    text-indent: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #ff8243;
}
p {
    text-indent: 0;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 1.5vw;
    hyphens: auto;
    font-family: "Montserrat", sans-serif;
}
.nombre {
    font-weight: bold;
    color: #ff8243;
    
}
.viaje{
    text-align: right;
    font-weight: bold;
    color: #909090;
    font-size: 1vw;
    margin-bottom: 1em;
}
.resena {
    text-indent: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.5vw;
    hyphens: auto;
    font-family: "Montserrat", sans-serif;
}

.mira {
    text-indent: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1vw;
    margin-top: 1em;
    hyphens: auto;
    font-family: "Montserrat", sans-serif;
}

.naranja{
color: #ff8243;
}
h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2vw;
    margin-left: 0;
    text-indent: 0;
}

h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 0;
    text-indent: 0;
}

.textitem{
    font-size: 1rem;
}
